.stockList {
  .stockList__Header {
    background-color: #1d2124;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 8vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    header {
      color: #ffffff;
      font-size: small;
      justify-content: flex-start;
      font-weight: bold;
      opacity: 0.9;
    }
    .connection-indicator {
      width: 8px;
      height: 8px;
      background-color: #7d2727;
      border-radius: 50%;
      box-shadow: 0 0 8px 2px rgba(255, 0, 0, 0.7);
      animation: realTimeBlink 1.2s infinite;
    }
  }
}

// /* Side Nav Styles */
// .side-nav {
//   position: fixed;
//   top: 0;
//   right: -250px; /* hidden by default */
//   width: 250px;
//   height: 100%;
//   background-color: #212529;
//   color: white;
//   display: flex;
//   flex-direction: column;
//   padding-top: 60px;
//   transition: right 0.3s ease-in-out;
//   z-index: 1050;
// }

// .side-nav.open {
//   right: 0;
// }

// .side-nav-item {
//   padding: 15px 20px;
//   text-decoration: none;
//   color: white;
//   display: block;
// }

// .side-nav-item:hover {
//   background-color: rgba(255, 255, 255, 0.1);
// }

// /* Backdrop */
// .side-nav-backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: rgba(0, 0, 0, 0.5);
//   z-index: 1040;
// }

.market-nav {
  .nav-link {
    color: #d1d5db;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-size: small;

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
      color: #ffffff;
    }

    &.active {
      background-color: #198754;
      color: white;
      box-shadow: 0 0 10px rgba(25, 135, 84, 0.6);
    }
  }

  .navbar-brand {
    color: #f1f1f1 !important;
    letter-spacing: 1px;
  }
}

.market-nav .navbar-nav {
  gap: 1rem;
}
@media (max-width: 991.98px) {
  .market-nav {
    z-index: 100000;
    .navbar-nav {
      margin-top: 20rem;
      flex-direction: column !important;
      gap: 0.5rem;
      z-index: 10000;
    }
  }
  .market-nav .nav-item {
    width: 100%;

    .market-nav .nav-link {
      text-align: left;
      padding-left: 1rem;
    }
  }
}

@keyframes realTimeBlink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.3;
  }
}
