<div
  class="stock-card"
  [class.disabled]="!stock.enabled"
  [class.positive]="
    stock.enabled && stock.currentPrice >= stock.regularMarketPreviousClose
  "
  [class.negative]="
    stock.enabled && stock.currentPrice < stock.regularMarketPreviousClose
  "
  role="group"
>
  <div class="body">
    <div class="name">{{ stock.symbol }}</div>
    <div class="price">
      {{ stock.currentPrice | stockCurrency : currencyType }}
    </div>

    <div class="daily-week-container" aria-label="Stock price details">
      <div class="daily p-1" aria-label="Daily High and Low Prices">
        <div class="stat">
          <div class="label">Daily High Price:</div>
          <div class="value">
            {{ stock.dailyHigh | stockCurrency : currencyType }}
          </div>
        </div>
        <div class="stat">
          <div class="label">Daily Low Price:</div>
          <div class="value">
            {{ stock.dailyLow | stockCurrency : currencyType }}
          </div>
        </div>
      </div>
      @if (!isMobile) {
      <ng-container>
        <div class="week p-1" aria-label="52 Week High and Low Prices">
          <div class="stat">
            <div class="label">52W High Price:</div>
            <div class="value">
              {{ stock.week52High | stockCurrency : currencyType }}
            </div>
          </div>
          <div class="stat">
            <div class="label">52W Low Price:</div>
            <div class="value">
              {{ stock.week52Low | stockCurrency : currencyType }}
            </div>
          </div>
        </div>
      </ng-container>
      }
    </div>
  </div>
  <div class="header mt-1">
    <label class="switch" role="switch" tabindex="0">
      <input type="checkbox" [checked]="stock.enabled" (change)="onToggle()" />
      <span class="slider"></span>
    </label>
  </div>
</div>
